name: Test

on:
  pull_request:
    branches: [ main ]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: clippy
      - name: Run clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
      - name: Build dev
        run: |
          cargo install -q worker-build
          worker-build --dev
